@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html {
   background-color: lightskyblue;
    background-size: 100% 100%, 50px 50px, 50px 50px, 25px 25px, 25px 25px, 100px 100px, 100px 100px;
    background-attachment: local;
    width: 100% ,auto;
    height: 100%, auto;
}


table {
    border-collapse: collapse;
}
* {
    box-sizing: border-box
}

body {
    font-family: 'Open Sans';

    color: black;
    margin: 0;
}


h1 {
    font-size: 24pt;
    text-align: center;
    padding: 8px;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: right;
    padding: 5px;
}
ul.cs-list li {
    list-style: none;
    display: inline-block;
}

    ul.cs-list li::after {
        content: ',';
    }

    ul.cs-list li:last-child::after {
        content: '.';
    }

    ul.cs-list li:nth-last-child(2)::after {
        content: 'and';
        margin-left: 2px;
    }
