@using POE_ST10152183.Controllers;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POE_ST10152183</title>
    <link href="~/css/stylesheet1.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/POE_ST10152183.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <h1>Fru&Veg Market</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (LoginController.role == "admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index"  style="display:inline-block">Employee</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="AllPIndex" style="display:inline-block">AllProduct</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Farmers" asp-action="Index" style="display:inline-block">Farmer</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout" style="float: right">Logout</a>
                          </li>
                        }
                        else if (LoginController.role == "employee")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="AllPIndex" style="display:inline-block">AllProduct</a>

                                <a class="nav-link text-dark" asp-area="" asp-controller="Farmers" asp-action="Index" style="display:inline-block">Farmer</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout" style="float: right">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Farmers" asp-action="PIndex" style="display:inline-block">Product</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout" style="float: right">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
            &copy; 2023 - POE_ST10152183 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
